:not(:defined) > * {
  display: none;
}

body {
  margin: 0;
  padding: 10%;
}

model-viewer {
  width: 464px;
  height: 500px;
  background-color: #ffffff;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 500px;
  margin: auto;
  text-align: center;
  font-family: arial, serif;
}